#blocklyDiv {
    border-style: groove;
    height: 100vh;
    width: 100%;
}

.blocklySVG {
    width: 100%;
}

.ui-panel-inner {
    padding: 0px;
}

.itemtoselect {
    margin-bottom: 1px !important;
}

.ui-controlgroup {
    margin: 0;
}

#header {
    height: 54px;
}

#myownpanel {
    border-width: thick;
    border-color: greenyellow;
    font-style: italic;
    font-weight: bolder;
}

.customHeader {
    background: greenyellow !important;
}

.blocklyToolboxDiv {
    background-color: greenyellow !important;
}

#deleteCurrent {
    margin-top: 30px;
}

.delOrSave {
    margin-top: 3px !important;
}

#clickDeleteItem {
    margin-top: 3px;
}

#pageOneDiv * {
    margin-bottom: 3px !important;
}

.blocklyTreeLabel {
    font-family: cursive;
    font-weight: bold;
    color: blue;
}

#appImage,
#content {
    height: 100vh;
    width: 100vw;
}

#programPage {
    position: fixed !important;
    height: 100vh !important;
    width: 100vw !important;
}

.propcaption {
    font-size: larger !important;
    font-weight: bold !important;
}

.propforms {
    background-color: aliceblue !important;
    margin-top: 3px !important;
}

#magicHappens {
    margin-top: 10px;
    margin-bottom: 60px;
}

#itsme {
    font-size: 12px !important;
    font-style: italic !important;
    color: darkgrey !important;
}

#program {
    position: fixed !important;
    top: 0 !important;
    z-index: -1 !important;
}

#normal,
#rot,
#gruen,
#blau {
    width: 80px !important;
    text-align: center !important;
}

#rot {
    color: red !important;
}

#gruen {
    color: green !important;
}

#blau {
    color: blue !important;
}

.controlButtons {
    position: fixed !important;
    width: 10% !important;
    top: 0 !important;
    margin-top: 0px !important;
}