<div id={{divID}} data-role="collapsible" data-theme="b">
    <h3 id={{headerID}}>{{itemName}}</h3>
    <ul data-role='listview' data-inset='true' id="itemsPageOne" data-theme="b">
        <li><a class='ui-btn ui-btn-icon-right ui-icon-delete' href='#'id='clickDeleteItem'>Delete this item</a>
        </li>
    </ul>
</div>